---
layout: detail
title: Callr for WeWork.
description: Start using Callr to make your life less chaotic.
type: custom
permalink: /wework/
image: wework-logo.png
class: campaign wework
---

<div id="header-container">
  <header class="jumbotron">
    <div id="hero" class="container">
      <div class="row">
        <div class="col-sm-12">
          <div>
            <img src="/assets/images/campaign/wework-logo.png" alt="WeWork Logo" class="img-responsive" />
          </div>
          <h3>WeWork Members Get 6 Months Free</h3>
        </div>
      </div>
    </div>
  </header>
</div>

<section class="alternate section">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="desc" style="margin-bottom: 25px;">
          <h3 style="margin-top: 0;">Callr is one of those rare tools you start using and wonder why on earth we’ve all spent years fumbling for numbers and stressing about dialing into our next call.</h3>
        </div>
        <div class="row">
          <div class="col-sm-3">
            <div class="profile-circle">
              <img src="/assets/images/customers/profile-colin.png" alt="Colin" width="125" class="img-responsive" />
            </div>
          </div>
          <div class="col-sm-9">
            <div class="user-meta">
              <h3 style="margin-top: 0;"><a href="https://twitter.com/cmoffett" target="_blank">Colin Moffett</a><br/>WeWork Member</h3>
              <p>Partner at <a href="http://www.artemisward.com/" target="_blank">Artemis Ward</a> &amp; part-time professor at Georgetown University</p>
            </div>
          </div>
        </div>
      </div>
      <div id="signup-form" class="col-sm-4 col-lg-offset-2">
        <h2>Sign up</h2>
        <h3>It takes only 30 seconds.</h3>
        <script src="https://app.getcallr.com/join-form/join-form.js"></script>
        <form name="form" novalidate ng-app="CallrJoinApp" ng-controller="CallrJoinController" ng-submit="join(account)">

          <div class="alert alert-danger" ng-show="error">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{error}}
          </div>

          <div class="form-group" ng-class="{'has-error': form.email.$invalid && (form.email.$dirty || form.$submitted)}">
            <input type="email" name="email" class="form-control" placeholder="Email" required autocapitalize="off" ng-model="account.email" ng-model-options="{updateOn: 'blur'}">
            <div class="help-block" ng-messages="form.email.$error" ng-show="form.$submitted || form.email.$dirty">
              <div ng-message="required">You did not enter your email address.</div>
              <div ng-message="email">Your email address is invalid.</div>
            </div>
          </div>

          <div class="form-group" ng-class="{'has-error': form.password.$invalid && (form.password.$dirty || form.$submitted)}">
            <input type="password" name="password" class="form-control" placeholder="Password" required ng-model="account.password" ng-minlength="6">
            <div class="help-block" ng-messages="form.password.$error" ng-show="form.$submitted || form.password.$dirty">
              <div ng-message="required">You did not enter a password.</div>
              <div ng-message="minlength">Your password is too short.</div>
            </div>
            <div ng-show="!account.code && !showCode">
              <small><a ng-click="showCode = true">Add a promo code</a></small>
            </div>
          </div>

          <div class="form-group">
            <div ng-show="account.code && !showCode" class="hide">
              Promo code: <strong>{{account.code}}</strong> (<a ng-click="showCode = true">change</a>)</span>
            </div>
            <input type="text" class="form-control" placeholder="Promo Code" ng-model="account.code" ng-show="showCode">
          </div>

          <div class="form-group text-center">
            <button type="submit" class="btn btn-big btn-primary">Get Started</button>
          </div>

        </form>
      </div>
    </div>
  </div>
</section>


<!-- Testimonials -->
<section id="customers">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 section-heading">
        <h2>Happy Customers</h2>
        <h4>Here's what a few of our happy customers have to say about Callr</h4>
      </div>
    </div>
    <div class="row padded">
      <div class="col-sm-6">
        <div class="desc">
          <p>Callr is my favorite new productivity tool - anyone who does a ton of phone meetings needs to check this out.</p>
        </div>
        <div class="row">
          <div class="col-sm-2">
            <div class="profile-circle">
              <img src="/assets/images/customers/profile-michael.png" alt="Michael" width="80" class="img-responsive" />
            </div>
          </div>
          <div class="col-sm-10">
            <div class="user-meta">
              <p><a href="https://twitter.com/mwseibel" target="_blank">Michael Seibel</a></p>
              <p>Partner at &nbsp;<a href="https://www.ycombinator.com/" id="y-combinator" target="_blank">Y Combinator</a></p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="desc">
          <p>Callr acts as my personal assistant to connect me at just the right time so I don't miss calls or hold up my team.</p>
        </div>
        <div class="row">
          <div class="col-sm-2">
            <div class="profile-circle">
              <img src="/assets/images/customers/profile-laura.png" alt="Laura Davis-Robeson" width="80" />
            </div>
          </div>
          <div class="col-sm-10">
            <div class="user-meta">
              <p><a href="https://twitter.com/codeslikeagirl" target="_blank">Laura Davis-Robeson</a></p>
              <p>Front End Developer at <a href="http://forumone.com/" id="forum-one" target="_blank">Forum One</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <footer class="more">
          <a href="/customers" class="btn btn-outline-inverse">Read More Testimonials</a>
        </footer>
      </div>
    </div>
  </div>
</section>
