  <!-- Testimonials -->
  <section id="customers">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 section-heading">
          <h2>Happy Customers</h2>
          <h4>Here's what a few of our happy customers have to say about Carly.ai</h4>
        </div>
      </div>
      <div class="row padded">
        <div class="col-sm-6">
          <div class="desc">
            <blockquote>Carly.ai is my favorite new productivity tool - anyone who does a ton of phone meetings needs to check this out.</blockquote>
          </div>
          <div class="row">
            <div class="col-sm-3">
              <div class="profile-circle">
                <img src="/assets/images/customers/profile-michael.png" class="img-responsive" alt="Michael" width="80" />
              </div>
            </div>
            <div class="col-sm-9">
              <div class="user-meta">
                <h3><a href="https://twitter.com/mwseibel" target="_blank">Michael Seibel</a></h3>
                <p>Partner at &nbsp;<a href="https://www.ycombinator.com/" id="y-combinator" target="_blank">Y Combinator</a></p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="desc">
            <blockquote>Carly.ai acts as my personal assistant to connect me at just the right time so I don't miss calls or hold up my team.</blockquote>
          </div>
          <div class="row">
            <div class="col-sm-3">
              <div class="profile-circle">
                <img src="/assets/images/customers/profile-laura.png" class="img-responsive" alt="Laura Davis-Robeson" width="80" />
              </div>
            </div>
            <div class="col-sm-9">
              <div class="user-meta">
                <h3><a href="https://twitter.com/codeslikeagirl" target="_blank">Laura Davis-Robeson</a></h3>
                <p>Front End Developer at <a href="http://forumone.com/" id="forum-one" target="_blank">Forum One</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <footer class="more">
            <a href="/customers" class="btn btn-outline-inverse">Read More Testimonials</a>
          </footer>
        </div>
      </div>
    </div>
  </section>
