
    <div class="row">
      <div class="col-sm-8">
        <h1>Super easy conference calls.</h1>
        <h3>Avoid the headache of remembering your next call or fumbling with dial-in and pin numbers with <span>3 simple steps</span>.</h3>
        <hr class="short" />
        <div class="clearfix"></div>
        <a href="https://app.carly.ai/join" class="btn btn-outline-inverse btn-lg"><i class="fa fa-lock"></i>&nbsp; Try Carly.ai for free</a> <a href="#how-it-works" class="btn btn-outline-inverse btn-lg how-it-works">How it works &#8595;</a>
        <div class="small">No credit card required. No obligation.</div>
      </div>
      <div class="col-sm-4">
        &nbsp;
      </div>
    </div>

    <!--
      {% for page in site.pages %}
        {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
      {% endfor %}
    -->
