<!-- How it works -->
<section id="how-it-works" class="section alternate">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 section-heading">
        <h2>How it works</h2>
      </div>
    </div>
  	<div class="row">
      <div class="bhoechie-tab-container">
        <div class="col-xs-5 bhoechie-tab">

          <div class="bhoechie-tab-content active">
            <img src="/assets/images/apps/02-add-phone.png" class="img-responsive" />
          </div>

          <div class="bhoechie-tab-content">
            Two
          </div>

          <div class="bhoechie-tab-content">
            <img src="/assets/images/apps/02-add-phone.png" class="img-responsive" />
          </div>

          <div class="bhoechie-tab-content">
            Four
          </div>

          <div class="bhoechie-tab-content">
            <img src="/assets/images/apps/02-add-phone.png" class="img-responsive" />
          </div>

        </div>
        <div class="col-xs-7 bhoechie-tab-menu">
          <div class="list-group">

            <a href="#" class="list-group-item active">
              <div class="row">
                <div class="col-xs-2">
                  <div class="icon">
                    <i class="fa fa-phone fa-2x"></i>
                  </div>
                </div>
                <div class="col-xs-10">
                  <h3>One tap, one swipe</h3>
                  <div>
                    The simple, intuitive interface makes it easy to complete deliveries so drivers keep their hands on the wheel and eyes on the road.
                  </div>
                </div>
              </div>
            </a>

            <a href="#" class="list-group-item">
              <div class="row">
                <div class="col-xs-2">
                  <div class="icon">
                    <i class="fa fa-calendar fa-2x"></i>
                  </div>
                </div>
                <div class="col-xs-10">
                  <h3>One tap, one swipe</h3>
                  <div>
                    The simple, intuitive interface makes it easy to complete deliveries so drivers keep their hands on the wheel and eyes on the road.
                  </div>
                </div>
              </div>
            </a>

            <a href="#" class="list-group-item">
              <div class="row">
                <div class="col-xs-2">
                  <div class="icon">
                    <i class="fa fa-mobile fa-2x"></i>
                  </div>
                </div>
                <div class="col-xs-10">
                  <h3>One tap, one swipe</h3>
                  <div>
                    The simple, intuitive interface makes it easy to complete deliveries so drivers keep their hands on the wheel and eyes on the road.
                  </div>
                </div>
              </div>
            </a>

            <a href="#" class="list-group-item">
              <div class="row">
                <div class="col-xs-2">
                  <div class="icon">
                    <i class="fa fa-mobile fa-2x"></i>
                  </div>
                </div>
                <div class="col-xs-10">
                  <h3>One tap, one swipe</h3>
                  <div>
                    The simple, intuitive interface makes it easy to complete deliveries so drivers keep their hands on the wheel and eyes on the road.
                  </div>
                </div>
              </div>
            </a>

            <a href="#" class="list-group-item">
              <div class="row">
                <div class="col-xs-2">
                  <div class="icon">
                    <i class="fa fa-mobile fa-2x"></i>
                  </div>
                </div>
                <div class="col-xs-10">
                  <h3>One tap, one swipe</h3>
                  <div>
                    The simple, intuitive interface makes it easy to complete deliveries so drivers keep their hands on the wheel and eyes on the road.
                  </div>
                </div>
              </div>
            </a>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container hide">
    <div class="row">
      <div class="col-sm-12 section-heading">
        <h3>How it works</h3>
        <h3>Three simple steps</h3>
      </div>
    </div>
    <div class="row">
      <div id="add-phone-number" class="col-sm-4">
        <div class="img">&nbsp;</div>
        <h3>Enter your phone number</h3>
        <p class="lead">
          This is the number Carly.ai will dial to connect you to your scheduled phones calls.
        </p>
      </div>
      <div id="link-calendar" class="col-sm-4">
        <div class="img">&nbsp;</div>
        <h3>Link your calendar</h3>
        <p class="lead">
          Carly.ai integrates with Google Calendar, Microsoft Outlook, iOS, and Android calendars.
        </p>
      </div>
      <div id="receive-call" class="col-sm-4">
        <div class="img">&nbsp;</div>
        <h3>Get connected 30 seconds early</h3>
        <p class="lead">
          Relax! Carly.ai will call you 30 seconds before your event starts. All you have to do is pick up your phone.
        </p>
      </div>
    </div>
    <div class="row padded hide">
      <div class="col-lg-12">
        <div class="video-container">
          <iframe width="1140" height="641" src="//www.youtube.com/embed/T9xPcjPW4mw?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</section>
