  <!-- Press -->
  <section id="press" class="{{ include.class }}">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 section-heading">
          <h2>Callr in the news</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="row">
            <div class="col-sm-4">
              <a id="techcrunch" class="press" target="_blank" href="http://techcrunch.com/2015/03/11/callr-ios-app/">TechCrunch</a>
            </div>
            <div class="col-sm-4">
              <a id="producthunt" class="press" target="_blank" href="http://www.producthunt.com/posts/callr-for-mobile">Product Hunt</a>
            </div>
            <div class="col-sm-4">
              <a id="techcocktail" class="press" target="_blank" href="http://tech.co/never-miss-call-ever-callr-2015-02">Tech Cocktail</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
