    <!-- Sign up form -->
    <div id="signup-form" class="row">
      <script src="https://app.getcallr.com/join-form/join-form.js"></script>
      <form name="form" novalidate ng-app="CallrJoinApp" ng-controller="CallrJoinController" ng-submit="join(account)">

        <div class="alert alert-danger" ng-show="error">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <!-- htmlmin:ignore -->
          {{error}}
          <!-- endhtmlmin -->
        </div>

        <div class="col-md-4 col-md-offset-1">
          <div class="form-group" ng-class="{'has-error': form.email.$invalid && (form.email.$dirty || form.$submitted)}">
            <input type="email" name="email" class="form-control input-lg" placeholder="Email Address" required autocapitalize="off" ng-model="account.email" ng-model-options="{updateOn: 'blur'}">
            <div class="help-block" ng-messages="form.email.$error" ng-show="form.$submitted || form.email.$dirty">
              <div ng-message="required">You did not enter your email address.</div>
              <div ng-message="email">Your email address is invalid.</div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group" ng-class="{'has-error': form.password.$invalid && (form.password.$dirty || form.$submitted)}">
            <input type="password" name="password" class="form-control input-lg" placeholder="Password" required ng-model="account.password" ng-minlength="6">
            <div class="help-block" ng-messages="form.password.$error" ng-show="form.$submitted || form.password.$dirty">
              <div ng-message="required">You did not enter a password.</div>
              <div ng-message="minlength">Your password is too short.</div>
            </div>

            <div class="hide">
              <div ng-show="!account.code && !showCode">
                <small><a ng-click="showCode = true">Add a promo code</a></small>
              </div>
              <div class="form-group">
                <div ng-show="account.code && !showCode">
                  <span>Promo code: <strong>{{account.code}}</strong> (<a ng-click="showCode = true">change</a>)</span>
                </div>
                <input type="text" class="form-control" placeholder="Promo Code" ng-model="account.code" ng-show="showCode">
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="form-group">
            <button type="submit" class="btn btn-lg"><i class="fa fa-lock"></i>&nbsp; Sign up for free</button>
          </div>
        </div>

      </form>
    </div>
