// Font Variables.
$open-sans:     'Open Sans', sans-serif;
$heading_font:  'Montserrat', sans-serif;

// Colors.
$black:           rgba(0, 0, 0, 0.7);
$white:           rgba(255, 255, 255, 1);
$orange:          rgba(238, 74, 41, 1);
$gray:            rgba(171, 171, 171, 1);
$light_yellow:    rgba(246, 246, 239, 1);
$dark_gray:       rgba(110, 110, 110, 1);

$link:            rgba(52, 152, 219, 1);

$header1:         rgba(0, 0, 0, 1);
$header2:         $orange;
$header3:         rgba(47, 47, 47, 1);

// Social media colors.
$facebook:        rgba(59, 89, 152, 1);
$twitter:         rgba(0, 172, 237, 1);
$google_plus:     rgba(221, 75, 57, 1);
$youtube:         rgba(187, 0, 0, 1);
$linkedin:        rgba(0, 123, 182, 1);
$instagram:       rgba(81, 127, 164, 1);
$pintrest:        rgba(203, 32, 39, 1);
$vine:            rgba(0, 191, 143, 1);
$snapchat:        rgba(255, 252, 0, 1);
$quora:           rgba(168, 36, 0, 1);
$flickr:          rgba(255, 0, 132, 1);
$tumblr:          rgba(50, 80, 109, 1);
$vimeo:           rgba(170, 212, 80, 1);
$foursquare:      rgba(0, 114, 177, 1);
