<!DOCTYPE html>
<html lang="en" class="no-js">
    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Privacy Policy | Callr - No more dialing into conference calls - Callr calls you!</title>

      <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
  <meta name="apple-itunes-app" content="app-id=929618587">

  
  <meta name="title" content="Privacy Policy" />
  

  
  <meta name="description" content="We deeply care about your privacy." />
  

  <meta name="keywords" content="conference calls, free conference calls, audio conferencing, free audio conferencing, phone conferencing, free conferencing, free phone conferencing" />
  <meta itemprop="name" content="Callr">

  <!-- Facebook Meta tags -->
  <meta property="fb:app_id" content="842181105802892" />
  <meta property="og:site_name" content="Callr">
  
  <meta property="og:title" content="Privacy Policy">
  
  
  <meta property="og:type" content="website">
  
  
  <meta property="og:description" content="We deeply care about your privacy.">
  
  
  <meta property="og:url" content="http://www.getcallr.com/privacy-policy/">
  
  
  
  <meta property="og:image" content="http://www.getcallr.com/assets/images/og/callr.jpg">
  
  
  

  <!-- Twitter Meta tags -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@getcallr">
  <meta name="twitter:creator" content="@getcallr">
  
  <meta name="twitter:title" content="Privacy Policy">
  
  
  <meta name="twitter:url" content="http://www.getcallr.com/privacy-policy/">
  
  
  <meta name="twitter:description" content="We deeply care about your privacy.">
  
  
  <meta name="twitter:image:src" content="http://www.getcallr.com/img/hero.jpg">
  

  <link rel="canonical" href="http://www.getcallr.com/privacy-policy/">


    <link rel="shortcut icon" href="/assets/images/favicon.ico">

    <!-- build:css({app,.tmp}) /assets/stylesheets/app.css -->
    <link rel="stylesheet" href="/assets/stylesheets/app.css">
    <!-- endbuild -->

    <!-- Start of Optimizely script -->
    <script src="//cdn.optimizely.com/js/2209631254.js"></script>
    <!-- End of Optimizely script -->

    <!-- Start of Callr Zendesk Widget script -->
    <script>/*<![CDATA[*/window.zEmbed||function(e,t){var n,o,d,i,s,a=[],r=document.createElement("iframe");window.zEmbed=function(){a.push(arguments)},window.zE=window.zE||window.zEmbed,r.src="javascript:false",r.title="",r.role="presentation",(r.frameElement||r).style.cssText="display: none",d=document.getElementsByTagName("script"),d=d[d.length-1],d.parentNode.insertBefore(r,d),i=r.contentWindow,s=i.document;try{o=s}catch(c){n=document.domain,r.src='javascript:var d=document.open();d.domain="'+n+'";void(0);',o=s}o.open()._l=function(){var o=this.createElement("script");n&&(this.domain=n),o.id="js-iframe-async",o.src=e,this.t=+new Date,this.zendeskHost=t,this.zEQueue=a,this.body.appendChild(o)},o.write('<body onload="document._l();">'),o.close()}("//assets.zendesk.com/embeddable_framework/main.js","callr.zendesk.com");/*]]>*/</script>
    <!-- End of Callr Zendesk Widget script -->
    
    <!-- Start: Facebook Audience -->
    <script>(function() {
      var _fbq = window._fbq || (window._fbq = []);
      if (!_fbq.loaded) {
        var fbds = document.createElement('script');
        fbds.async = true;
        fbds.src = '//connect.facebook.net/en_US/fbds.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(fbds, s);
        _fbq.loaded = true;
      }
      _fbq.push(['addPixelId', '304213783101475']);
    })();
    window._fbq = window._fbq || [];
    window._fbq.push(['track', 'PixelInitialized', {}]);
    </script>
    <noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?id=304213783101475&amp;ev=PixelInitialized" /></noscript>
    <!-- End: Facebook Audience -->
  </head>


  <body id="page-top" class="detail privacy" >

      <!-- Navigation -->
  <nav class="navbar navbar-default navbar-fixed-top borderless">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header page-scroll">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Callr</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          
            
              <li >
                <a href="/apps/" class="">Apps</a>
              </li>
            
          
            
              <li >
                <a href="/tour/" class="">Tour</a>
              </li>
            
          
            
              <li >
                <a href="/pricing/" class="">Pricing</a>
              </li>
            
          
            
              <li >
                <a href="/customers/" class="">Customers</a>
              </li>
            
          
            
              <li >
                <a href="https://app.getcallr.com/login" class="">Log In</a>
              </li>
            
          
            
              <li >
                <a href="https://app.getcallr.com/join" class="btn"><i class="fa fa-lock"></i>&nbsp; Try Callr for free</a>
              </li>
            
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
            
          
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>


      <section id="content" class="container padded">
    <div class="row">

      <div class="col-sm-8 col-sm-offset-2 content-container">

        <div class="row">
          <div class="col-lg-12">
            <h1>Privacy Policy</h1>
            <h4></h4>
          </div>
        </div>

        
          <p>We understand that by choosing Callr, you are placing some of your more important data in our hands. We are only in business if you trust us so your privacy means everything to us. Here are the key things you should know:</p>

<p>Callr asks for visibility into your calendar, but you can revoke our access to your calendar at any time. If you revoke access, we retain no information about your calendar in our system.</p>

<p>We <strong>DO NOT</strong> and <strong>WILL NOT</strong> sell your data, individually or in aggregated form. Neither will we share your data with any third party except where needed to satisfy applicable law, regulation, legal process or enforceable governmental request.</p>

<p>We use your data to connect you to your meetings. Some of the data, such as number of calls, time of call and phone and pin numbers is anonymized and kept for purely analytical purposes. These end up as part of your account and it will be deleted should you decide to cancel your account. Finally, we use aggregated customer data to improve our service and to develop new ones.</p>

<p>We restrict access to personal information to Callr employees, contractors and agents who need to know that information in order to process it for us. All of these individuals are subjected to strict contractual confidentiality obligations and may be disciplined or terminated if they fail to meet these obligations.</p>

<p>We encrypt your personal data using AES-256 and our services using SSL. Our data collection, storage and processing operations are guarded both physically and virtually from the outside world.</p>

<h3>Contact Us</h3>

<p>If you have any questions about our Privacy Policy, please <a href="mailto:info@getcallr.com">contact us</a> or call us at 202.269.2066.</p>

        

      </div>

    </div>
  </section>


    
      <!-- Sign up -->
      <section id="signup" class="section">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 section-heading">
              <h3>Sign up for a free account &dash; it takes less than a minute!</h3>
                  <!-- Sign up form -->
    <div id="signup-form" class="row">
      <script src="https://app.getcallr.com/join-form/join-form.js"></script>
      <form name="form" novalidate ng-app="CallrJoinApp" ng-controller="CallrJoinController" ng-submit="join(account)">

        <div class="alert alert-danger" ng-show="error">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <!-- htmlmin:ignore -->
          
          <!-- endhtmlmin -->
        </div>

        <div class="col-md-4 col-md-offset-1">
          <div class="form-group" ng-class="{'has-error': form.email.$invalid && (form.email.$dirty || form.$submitted)}">
            <input type="email" name="email" class="form-control input-lg" placeholder="Email Address" required autocapitalize="off" ng-model="account.email" ng-model-options="{updateOn: 'blur'}">
            <div class="help-block" ng-messages="form.email.$error" ng-show="form.$submitted || form.email.$dirty">
              <div ng-message="required">You did not enter your email address.</div>
              <div ng-message="email">Your email address is invalid.</div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group" ng-class="{'has-error': form.password.$invalid && (form.password.$dirty || form.$submitted)}">
            <input type="password" name="password" class="form-control input-lg" placeholder="Password" required ng-model="account.password" ng-minlength="6">
            <div class="help-block" ng-messages="form.password.$error" ng-show="form.$submitted || form.password.$dirty">
              <div ng-message="required">You did not enter a password.</div>
              <div ng-message="minlength">Your password is too short.</div>
            </div>

            <div class="hide">
              <div ng-show="!account.code && !showCode">
                <small><a ng-click="showCode = true">Add a promo code</a></small>
              </div>
              <div class="form-group">
                <div ng-show="account.code && !showCode">
                  <span>Promo code: <strong></strong> (<a ng-click="showCode = true">change</a>)</span>
                </div>
                <input type="text" class="form-control" placeholder="Promo Code" ng-model="account.code" ng-show="showCode">
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="form-group">
            <button type="submit" class="btn btn-lg"><i class="fa fa-lock"></i>&nbsp; Sign up for free</button>
          </div>
        </div>

      </form>
    </div>

            </div>
          </div>
        </div>
      </section>
    

    
    <!-- Footer -->
    <footer id="footer">
      <div class="footer-above">
        <div class="container">
          <div class="row">
            <div class="col-sm-2">
              <h4>Product</h4>
              <ul class="list-unstyled">
                
                  
                    <li >
                      <h5><a href="/apps/">Apps</a></h5>
                    </li>
                  
                
                  
                    <li >
                      <h5><a href="/tour/">Tour</a></h5>
                    </li>
                  
                
                  
                    <li >
                      <h5><a href="/pricing/">Pricing</a></h5>
                    </li>
                  
                
                  
                    <li >
                      <h5><a href="/customers/">Customers</a></h5>
                    </li>
                  
                
                  
                
                  
                
                  
                
                  
                
                  
                
                  
                
                  
                
                  
                
                  
                
                  
                
                  
                
              </ul>
            </div>
            <div class="col-sm-2">
              <h4>Company</h4>
              <ul class="list-unstyled">
                
                  
                
                  
                
                  
                
                  
                
                  
                
                  
                
                  
                    <li >
                      <h5><a href="/">Home</a></h5>
                    </li>
                  
                
                  
                    <li >
                      <h5><a href="/about/">About us</a></h5>
                    </li>
                  
                
                  
                    <li >
                      <h5><a href="/blog/">Blog</a></h5>
                    </li>
                  
                
                  
                    <li >
                      <h5><a href="/press/">Press</a></h5>
                    </li>
                  
                
                  
                
                  
                
                  
                
                  
                
                  
                
              </ul>
            </div>
            <div class="col-sm-2">
              <h4>Support</h4>
              <ul class="list-unstyled">
                
                  
                
                  
                
                  
                
                  
                
                  
                
                  
                
                  
                
                  
                
                  
                
                  
                
                  
                    <li >
                      <h5><a href="/faq/">FAQ</a></h5>
                    </li>
                  
                
                  
                    <li >
                      <h5><a href="/contact/">Email us</a></h5>
                    </li>
                  
                
                  
                
                  
                
                  
                
              </ul>
            </div>
            <div class="col-sm-2">
              <h4>Legal</h4>
              <ul class="list-unstyled">
                
                  
                
                  
                
                  
                
                  
                
                  
                
                  
                
                  
                
                  
                
                  
                
                  
                
                  
                
                  
                
                  
                    <li >
                      <h5><h5><a href="/terms-of-service/">Terms of Service</a></h5></h5>
                    </li>
                  
                
                  
                    <li class="active">
                      <h5><h5><a href="/privacy-policy/">Privacy Policy</a></h5></h5>
                    </li>
                  
                
                  
                    <li >
                      <h5><h5><a href="/security/">Security</a></h5></h5>
                    </li>
                  
                
              </ul>
            </div>
            <div class="col-sm-4 social">
              <h4>Connect</h4>
              <ul id="social" class="list-inline">
                
                  <li id="twitter">
                    <a href="https://twitter.com/getcallr" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i> Follow</a>
                  </li>
                
                  <li id="linkedin">
                    <a href="https://www.linkedin.com/company/callr" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i> Follow</a>
                  </li>
                
                  <li id="facebook">
                    <a href="https://facebook.com/getcallr" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i> Like</a>
                  </li>
                
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-below">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <p class="copyright small">Copyright &copy;  2015 Callr Communications, Inc. <span>Patent Pending.</span><br>
              Made with <span class="fa fa-heart"></span> by <a href="http://www.blencorp.com/" target="_blank">BLEN Corp</a> in Washington, DC.</p>
            </div>
          </div>
        </div>
      </div>
    </footer>


    <!-- build:js(app) /assets/javascripts/vendor.js -->
    <script src="/assets/_bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/assets/_bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
    <!-- endbuild -->

    <!-- build:js(app) /assets/javascripts/app.js -->
    <script src="/assets/javascripts/app.js"></script>
    <!-- endbuild -->

    <script>
function _kms(e){setTimeout(function(){var t=document,n=t.getElementsByTagName("script")[0],r=t.createElement("script");r.type="text/javascript";r.async=true;r.src=e;n.parentNode.insertBefore(r,n)},1)}var _kmq=_kmq||[];var _kmk=_kmk||"180e8e28b4a5ba67085fe5efe27c1f99c5e4b4fe";_kms("//i.kissmetrics.com/i.js");_kms("//doug1izaerwt3.cloudfront.net/"+_kmk+".1.js")
!function(e,a,t,n,c,o,s){e.GoogleAnalyticsObject=c,e[c]=e[c]||function(){(e[c].q=e[c].q||[]).push(arguments)},e[c].l=1*new Date,o=a.createElement(t),s=a.getElementsByTagName(t)[0],o.async=1,o.src=n,s.parentNode.insertBefore(o,s)}(window,document,"script","//www.google-analytics.com/analytics.js","ga"),ga("create","UA-55462064-1","auto"),ga("send","pageview");
</script>



  </body>
</html>
